.containerKuru {
    background-color: aliceblue;
    position: relative;
    width: 1200px;
    height: 200px;
    overflow: hidden;
    border: 1px solid #ccc;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 #gif {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 50%;
    transform: translateY(-60%);
    display: none;
 }
 
 #activateButton {
    color: black;
    border-radius: 5px;
    background-color: lavender;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
 }
 